.ui-calendar-wrapper {
    width: 260px;
    color: #666;
    font-size: 16px;
    box-shadow: 2px 2px 8px 2px rgba(128, 128, 128, .3);
    display: none;
    position: absolute;
}

.ui-calendar-wrapper-show {
    display: block;
}

.ui-calendar-wrapper .ui-calendar-header {
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.ui-calendar-wrapper .ui-calendar-header a {
    font-family: serif;
    text-decoration: none;
    color: #1abc9c;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}

.ui-calendar-wrapper .ui-calendar-prev-btn {
    float: left;
    font-weight: bold;
}

.ui-calendar-wrapper .ui-calendar-next-btn {
    float: right;
}

.ui-calendar-curr-month {
    color: #1ABC9C;
    font-weight: bold;
}

.ui-calendar-wrapper .ui-calendar-body table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
}

.ui-calendar-wrapper .ui-calendar-body th,
.ui-calendar-wrapper .ui-calendar-body td {
    height: 30px;
    text-align: center;
}

.ui-calendar-wrapper .ui-calendar-body th {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    color: #1ABC9C;
    font-weight: bold;
}

.ui-calendar-wrapper .ui-calendar-body td {
    font-size: 12px;
    /*border: 1px solid #F0F0F0;*/
    cursor: pointer;
    transition: all 0.3s;
}

.ui-calendar-wrapper .ui-calendar-body td:hover {
    background: #E63946;
    color: #fff;
    /*border: 5px solid #1ABC9C;*/
    /*border: 0px solid #FFFFFF;*/
    border-radius: 3px;
    margin: 2px 1px;
    line-height: 25px;
    height: 25px;
    box-shadow: 2px 2px 8px 2px rgba(128, 128, 128, .3);
}

.ui-calendar-wrapper .ui-calendar-body .on {
    background: #1ABC9C;
    border-radius: 3px;
    color: #fff;
}

.ui-calendar-wrapper .ui-calendar-body .notThisMonth {
    background: #F0F0F0;
    color: #ccc;
}

.ui-calendar-input {
    line-height: 24px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.ui-calendar-input:focus {
    outline: 0 none;
    border: 1px solid #1ABC9C;
}